.header_topic h2{
display:inline !important;
}
.count_box{
width:50px;
height:50px;
    display:inline-block;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #29bcb0;
    border: 1px solid #209289;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    color:white;

}
.count_box p {
font-size:18px;
font-weight: bold;
position:relative;
bottom:6px;

}

.topic{
background-color:#43A700 ;
padding:25px;
border-bottom:2px solid white;
margin:10px;
}
.create_topic{
    width: 80%;
    padding: 20px;
}
.base_topic{
background-color:#eee;
}
.user_image{
width:70px;
height:70px;
border-radius:50%;
border:2px solid #eee;
}

@import "bourbon";

body {
	background-image: url('images/bg.png') !important;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

.user_name{
color:black;
}
.navbar-brand{
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

.navbar{
    border-radius:0px;
}
.jumbotron{
    background-color:#27b4a8;
    color:white;
    position: relative;
    top: -20px;

}