{% extends "main.html" %}


{% block content %}
<div class="jumbotron">
  <div class="container text-center">
    <h2>Добре дошли във форума</h2>
    <p>Това е супер прост форум за споделяне написан на Django</p>
  </div>
</div>
{% if user.is_authenticated %}
<div class="container">
 <div class="form-group">
    <nav class="create_topic">
        <form action="forum/topic/create" method="post">
            {% csrf_token %}
            <h3>Добави нова тема</h3>
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <div {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</div>
                  {% endfor %}
              </ul>
              {% endif %}
            <p>
                 <input type="text" name="title" class="form-control" placeholder="Въведи заглавие на темата">
            </p>
            <p>
                <h4>Избери категория</h4>
                <select name="category" class="custom-select">
                  <optgroup label="Възможни категории">
                    {% for category in categories %}
                        <option value="{{category.id}}">{{category}}</option>
                    {% endfor %}
                  </optgroup>
                </select>

            </p>
            <p>
                <textarea name="text"></textarea>
            </p>
            <p>
                <button type="submit" class="btn btn-warning">Добави</button>
            </p>
        </form>

        <script>
            tinymce.init({
                selector: 'textarea',
                theme: "modern"
            })
        </script>
    </nav>
 </div>
</div>
{% endif %}

{% for topic in topics %}
<div class="container">

    <div class="panel panel-default">
      <div class="panel-heading"><a href="forum/topic/{{topic.id}}">{{topic}}</a></div>
      <div class="panel-body">
       <span class="count_box"><p>{{topic.subtopic.count}}</p></span>

       <p>Публикувано от <b>{{topic.author}}</b> на {{ topic.pub_date|date:"d.m.Y" }}</p>
      </div>
    </div>

</div>

{% endfor %}

{% endblock %}