{% extends "main.html" %}


{% block content %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <div {% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</div>
      {% endfor %}
  </ul>
  {% endif %}
<div class="container-fluid">
      <div class="wrapper">
    <form class="form-signin" action="/auth/login/" method="POST">
      <h2 class="form-signin-heading">Please login</h2><p><a href="{% url 'register' %}">Or Register</a></p>
      {% csrf_token %}
    <input type="text" name="username"  class="form-control"  placeholder="Username"/><br/>
    <input type="password" name="password" class="form-control" placeholder="Password"/><br/>
    <input type="submit"  class="btn btn-lg btn-primary btn-block" value="Login">
    </form>
  </div>
</div>

{% endblock %}