{% extends "main.html" %}


{% block content %}
<h1>Profile of {{user}}</h1>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <div {% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</div>
      {% endfor %}
  </ul>
  {% endif %}
{% if avatar is None %}
    <div>
        <img class="user_image" src="/static/images/user.png" alt="no image">
    </div>
{% else %}
 <div>
        <img class="user_image" src="/media/{{avatar}}" alt="no image">
 </div>
{% endif %}
<div class="container">
  <form class="form-horizontal" action="/upload/image/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="control-group">
    <label class="custom-file">
    <input type="file" name="image" id="file" class="custom-file-input"/><span class="custom-file-control"></span>
    </label><br/>
      </div>


    <input type="submit" value="Upload ">
  </form>


</div>




{% endblock %}