{% extends "main.html" %}


{% block content %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <div {% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</div>
      {% endfor %}
  </ul>
  {% endif %}


<div class="container-fluid">
    <div class="wrapper">
    <form action="/auth/register/" method="post" class="form-signin">
      <h2 class="form-signin-heading">Please Register</h2></p>
    {% csrf_token %}
    <input type="text"  class="form-control" name="username" placeholder="Username"/><br/>
    <input type="email" class="form-control" name="email" placeholder="Email"/><br/>
    <input type="password" class="form-control" name="password" placeholder="Password"/><br/>
    <input type="password" class="form-control" name="re_password" placeholder="Re-Password"/><br/>
    <input type="submit" class="btn btn-lg btn-success btn-block" value="Register">
  </form>
  </div>
</div>
{% endblock %}