{% extends "main.html" %}


{% block content %}

<!-- start subtopic-->
<div class="container">
    <div class="panel panel-default">
          <div class="panel-heading"><h3>{{base_topic}}</h3>/Main/</div>
          <div class="panel-body">
           <p>{{base_topic.text | safe}}</p>
           <p>Author: {{base_topic.author}} Публикувано на {{ base_topic.pub_date|date:"d.m.Y" }}</p>
          </div>
    </div>
{% for topic in sub_topics %}


    <div class="panel panel-default">
      <div class="panel-heading">{{topic.text | safe}}</div>
      <div class="panel-body">
        <p>Author: {{topic.author}} Публикувано на {{ topic.pub_date|date:"d.m.Y" }}</p>
      </div>
    </div>


{% endfor %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
         <div class="current">
            Page {{ sub_topics.number }} of {{ sub_topics.paginator.num_pages }}.
        </div>
        {% if sub_topics.has_previous %}
        <li class="page-item"> <a class="page-link" href="?page={{ sub_topics.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if sub_topics.has_next %}
           <li class="page-item"> <a href="?page={{ sub_topics.next_page_number }}">Next</a></li>
         {% endif %}
      </ul>
    </nav>
    <!-- end subtopic-->

    <!-- post subtopic-->
    {% if user.is_authenticated %}
    <div>
        <form action="forum/subtopic/create" method="post">
            {% csrf_token %}
            <h3>Дoбави отговор</h3>
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <div {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</div>
                  {% endfor %}
              </ul>
              {% endif %}
            <p>
                <textarea name="text"></textarea>
            </p>
            <input type="hidden" name="sub_topic" value="{{base_topic.id}}"/>
            <p>
                <button type="submit" class="btn btn-warning">Отговор</button>
            </p>
        </form>
    </div>
{% endif %}
</div>




<script>
        tinymce.init({
            selector: 'textarea',
            theme: "modern"
        })
</script>
{% endblock %}